Repository JSchmie/ScrAIbe, pull requests merged in 2024-09, with the labels that each got.

#116 added paths to workflow trigger
  .github/workflows/pypi.yml
Labels: workflows

#117 Develop
  .github/auto_label_pr.yml
  .github/workflows/auto-label-issue.yaml
  .github/workflows/documentation.yml
  .github/workflows/pypi.yml
  .github/workflows/pytest.yaml
  .github/workflows/ruff.yml
Labels: workflows, ignore-pr-title-for-release

#120 Fixed pyannote env var import, now can use `PYANNOTE_CACHE`
  scraibe/misc.py
Labels: bug, release

#119 Update dependencies of `whisperx` to version `3.1.5` and bumped patch version of `tqdm`
  pyproject.toml
  requirements.txt
Labels: dependencies, release

#122 Fixed pypi.yaml to Trigger on Push for Correct Pre-Release Publishing
  .github/workflows/pypi.yml
Labels: workflows
