Repository JSchmie/ScrAIbe, pull requests merged in 2024-10, with the labels that each got.

#131 Re-fixed PYANNOTE_CACHE, now writes the variable.
  scraibe/misc.py
Labels: release

#135 Update dockerfile
  .github/workflows/docker.yaml
  Dockerfile
Labels: workflows, docker

#134 Improve Torch Device Configuration for Greater User Control
  scraibe/audio.py
  scraibe/autotranscript.py
  scraibe/diarisation.py
  scraibe/misc.py
  scraibe/transcriber.py
Labels: release

#128 align minimal torch version
  environment.yml
  pyproject.toml
  requirements.txt
Labels: dependencies, release

#127 Update main to release version 0.3.0
  .github/workflows/docker.yaml
  .github/workflows/pypi.yml
  Dockerfile
  environment.yml
  pyproject.toml
  requirements.txt
  scraibe/audio.py
  scraibe/autotranscript.py
  scraibe/cli.py
  scraibe/diarisation.py
  scraibe/misc.py
  scraibe/transcriber.py
  tests/audio_test_1.mp4
  tests/audio_test_2.mp4
  tests/test_audio.py
  tests/test_autotranscript.py
  tests/test_diarisation.py
  tests/test_transcriber.py
Labels: dependencies, workflows, ignore-pr-title-for-release, release, docker
